div(class="hero container")
    div(class="hero-left")
        h1 Let Your Clients Experience Their New Home
        p MetaMix creates 3D AR and virtual tour experiences for pre-sale homes
        a( href="mailto:chris.a@metamix.ca" class="btn w-fit-content" style="margin-top: 20px") Get in touch!
            
    model-viewer(
        class="hero-model" 
        alt="a bedroom" 
        src="https://metamix-cdn.nyc3.digitaloceanspaces.com/models/room.glb" 
        auto-rotate 
        poster="https://metamix-cdn.nyc3.digitaloceanspaces.com/thumbnails/room.png" 
        loading="lazy" 
        shadow-intensity="1" 
        auto-rotate-delay="0" 
        ar 
        camera-controls 
        touch-action="pan-y")
    