div(class="hero container")
    div(class="hero-left")
        h1 POV: You're Furniture Shopping!
        p Here you can visualize furniture in your home to see how it will actually look like.
        a( href="/explore/Living Room Furniture/Sofas" class="btn w-fit-content" style="margin-top: 20px") Start Exploring
            
    model-viewer(
        class="hero-model" 
        alt="A beautiful leather accent chair" 
        src="https://metamix-cdn.nyc3.cdn.digitaloceanspaces.com/models/Chair.glb" 
        auto-rotate 
        poster="https://metamix-cdn.nyc3.cdn.digitaloceanspaces.com/thumbnails/Chair.webp" 
        loading="lazy" 
        shadow-intensity="1" 
        auto-rotate-delay="0" 
        ar 
        camera-controls 
        touch-action="pan-y")
    